<div class="form-header">
    <h1 class="font-weight-bold">{{ currentDate | date: 'dd MMMM YYYY' | uppercase }}</h1>
    <h3 class="mt-2">Updates and roadblocks for today</h3>
</div>

<form class="w-l-75 mx-auto mt-4 p-3 mb-2" [formGroup]="recordsForm" (ngSubmit)="entrySubmitHandler()">
    <div class="form-group task-input">
        <textarea
            class="form-control"
            rows="8"
            name="record"
            placeholder = "Enter concerns, records and results"
            formControlName="entry"
            appEnableTabUse
            >
        </textarea>
    </div>
    <button class="btn btn-primary btn-block p-2" type="submit">Submit</button>
</form>
