<div class="form-header">
    <h1>{{ currentDate | date: 'fullDate' }}</h1>
    <h3 class="mt-3">Enter your accomplishments, issues and concerns for today</h3>
</div>

<form class="w-50 mx-auto mt-4 p-3" [formGroup]="recordsForm" (ngSubmit)="entrySubmitHandler()"> 
    <div class="form-group task-input">
        <textarea 
            class="form-control"
            rows="8"
            name="record"
            placeholder = "Enter concerns, records and results"
            formControlName="entry"
        ></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>
