.entry-date-width {
    flex-grow: 2;
}

.edit-entry {
    cursor: pointer;
}

.disabled {
    color:#ffffff49
}

article  {
    white-space: pre-wrap;

    &.entry-font-sm {
        font-size: 0.8rem;
    }
}

.hide {
    display: none;
}

.row-action {
    font-size: 0.85rem;
    cursor: pointer;

    span {
        &:hover {
            transition: 0.5s color;
        }

        &.expand-collapse:hover {
            color: blue;

        }
        &.edit-entry:hover {
            color: red;
        }
    }
    &-icon {
        margin: 0 6px 0 2px;
    }

    .no-record {
        font-style: italic;
        color: #bbb;
    }
}
