.entry-row {
}
.entry-date-width {
    flex-grow: 2;
}

.edit-entry {
    cursor: pointer;
}

.disabled {
    color:#ffffff49
}

article  {
    white-space: pre-wrap;

    &.entry-font-sm {
        font-size: 0.8rem;
    }
}

.hide {
    display: none;
}

