.entry-date-width {
    flex-grow: 2;
}

.edit-entry {
    cursor: pointer;
}

article  {
    white-space: pre-wrap;

    &.hide {
        display: none;
    }
 
}



 .bordered {
    border: 1px dashed black; background-color: #eee; }