<div class="container">
	<app-form
		(onEntryEmit)="receiveEmittedEntryHandler($event)">
	</app-form>

	<div class="text-center mb-3">
		<app-button [buttonName]="'Open All'"  (onButtonToggleState)="receiveEmittedButtonState($event)"></app-button>
		<app-button [buttonName]="'Close All'" (onButtonToggleState)="receiveEmittedButtonState($event)"></app-button>
	</div>

	<div class="d-flex justify-content-center flex-column col-md-9 mx-auto">
		<ul class="records-entries-list px-0">
			<li class="entry-list-item" *ngFor="let entry of arrayEntries; let entryIndex = index" >
				<app-entry 
					[singleRecordEntry]="entry" 
					[isShown]="entry.isEntryShown"
					[openEntries]="isOpenAllEntries">
				</app-entry>
			</li>
		</ul>
	</div>

</div>
