/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,400&display=swap');

$core-text-size: 16px;

html, 
body {
  overflow-x: hidden;
}

body {
  font-family: 'Andada Pro', serif;
  font-size: $core-text-size;
}

body,
h1, h2, h3, h4, h5,
span,
p, 
label, input,
div {
  margin: 0;
  padding:0 
}